doctype html
html
    head
        meta(charset="UTF-8")

        block title

        link(rel="stylesheet" href="/styles/normalize.css")
        link(rel="stylesheet" href="/styles/style.css")
        block styles
    
    body
        div.page
            block pageContent
