extends ../layouts/admin-layout.pug

block title
    title Статистика

block adminStyles
    link(rel="stylesheet", href="/styles/admin-statistics.css")

block adminPageContent
    if error
        div.error-section
            h1.error-section__headline Ошибка!
            input.error-section__message(type="text" value=error.message readonly)
    else
        section.statistics
            div.statistics__header
                h1 За сегодня

            div.statistics__content
                div.statistics__content-block.statistics__views
                    if todaysEntries
                        p Просмтров: #{todaysEntries.length}
                    else
                        p Просмтров: 0

                div.statistics__content-block.statistics__visitors
                    if uniqueTodaysEntries
                        p Уникальных посетителей: #{uniqueTodaysEntries.length}
                    else
                        p Уникальных посетителей: 0
