extends ../layouts/layout.pug

block title
    title Вход

block styles
    link(rel="stylesheet" href="/styles/loader.css")

block pageContent
    section.card
        div.card__title
            img.card__title-icon(src="icons/enter_icon.png")
            h1.card__title-text Вход

        form.card__form.form(class=error ? "form_invalid" : "" action="/login" method="POST")
            div.form__field
                label.form__field-label(for="email")
                    span.label-text.label-text_required Email
                input#email.form__field-input(value=formData ? formData.email : "" type="email" name="email" placeholder="Введите email..." required maxlength="50")
            
            div.form__field.form__field_last
                label.form__field-label(for="password")
                    span.label-text.label-text_required Пароль
                input#password.form__field-input(value=formData ? formData.password : "" type="password" name="password" placeholder="Введите пароль..." required maxlength="50")

            if error
                div.form__error
                    span #{error.message}
                    br
                    span Пожалуйста, попробуйте снова.

            input.form__submit.button.button_primary(type="submit" disabled=!!error value="Войти")

    script(src="/scripts/login.js")
